
aside {
    background-color: brown;
    width: 200px;
}

main {
    background-color: goldenrod;
    width: 400px;

}

section {
    background-color: green;
    width: 200px;
    justify-content: center;
    align-content: center;
}

img {
    display: flex;
    width: 150px;
}

article {
    border: 2px solid darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
}

.ring {
    background-color: purple;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

@media screen and (min-width: 768px) {

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    
}

