
aside {
    background-color: brown;
}

main {
    background-color: goldenrod;

}

section {
    background-color: green;
}

article {
    border: 2px solid darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circel {
    background-color: purple;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.container {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {

    .container {
        display: flex;
        flex-direction: row;
    }


    
    
    
}

