/*@font-face {
  font-family: "Poetsen One";
  src: url("assets/PoetsenOne-Regular.woff2") format("woff2"),
    url("PoetsenOne-Regular.woff") format("woff"),
   
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}*/
.logga {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: darkcyan;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.logga > div {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  font-weight: bolder;
  font-size: 1.7rem;
  transform: rotate(330deg);
}
